<!--
        #f3f3f3
#60BD51
#FFFFCA
#EEFFFF
#DDD
-->
<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
    <!--
    .water {
      background: #BAFCFC;
    }
    .lye {
      background: #FED6DC;
    }
    .oil {
      background: #F9E9B7;
    }
    .fragrance {
      background: #E0DDF0;
    }
    .oil-alternate {
      background: #E3FFE3;
    }
    -->
    </style>
  </head>
  <body>
    <h1>Hello, world!</h1>

    <table>
      <tr>
        <td>Total Oil Weight</td>
        <td></td>
      </tr>
       <tr>
        <td>Water as Percent of Oil Weight</td>
        <td></td>
      </tr>
      <tr>
        <td>Super Fat/Discount</td>
        <td></td>
      </tr>
       <tr>
        <td>Lye Concentration</td>
        <td></td>
      </tr>
      <tr>
        <td>Water : Lye Ratio</td>
        <td></td>
      </tr>
    </table>


    <table>
      <tr>
        <td>Saturation : Unsaturation Ratio</td>
        <td></td>
      </tr>
       <tr>
        <td>Iodine</td>
        <td></td>
      </tr>
      <tr>
        <td>INS</td>
        <td></td>
      </tr>
       <tr>
        <td>Fragrance Ratio</td>
        <td></td>
      </tr>
      <tr>
        <td>Fragrance Weight</td>
        <td></td>
      </tr>
    </table>


    <table>
      <tr>
        <td>&nbsp;</td>
        <td>Pounds</td>
        <td>Ounces</td>
        <td>Grams</td>
      </tr>
      <tr class="water">
        <td>Water</td>
        <td>1.5</td>
        <td>22</td>
        <td>600</td>
      </tr>
      <tr class="lye">
        <td>Lye - NAOH</td>
        <td>1.5</td>
        <td>22</td>
        <td>600</td>
      </tr>
      <tr class="oil">
        <td>Oils</td>
        <td>1.5</td>
        <td>22</td>
        <td>600</td>
      </tr>
      <tr class="fragrance">
        <td>Fragrance</td>
        <td>1.5</td>
        <td>22</td>
        <td>600</td>
      </tr>
       <tr>
        <td>Total Weight</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>


    <table>
      <tr>
        <td>#</td>
        <td>Oil/Fat</td>
        <td>%</td>
        <td>Pounds</td>
        <td>Ounces</td>
        <td>Grams</td>
      </tr>
      <tr class="oil-alternate">
        <td>1</td>
        <td>Olive Oil</td>
        <td>50.00</td>
        <td>1.5</td>
        <td>22</td>
        <td>600</td>
      </tr>
      <tr>
        <td colspan="2">Total</td>
        <td>100.00</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>

